@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.hh-typography h1, .hh-typography h2, .hh-typography h3, .hh-typography h4 {
  @apply font-bold font-serif;
}

.hh-typography h2, .hh-typography h3, .hh-typography h4, .hh-typography p, .hh-typography figure {
  @apply mt-8;
}

.hh-typography figcaption {
  @apply text-gray-500 italic;
}

.hh-typography h1 {
  @apply text-5xl my-14;
}

.hh-typography h2 {
  @apply text-4xl;
}

.hh-typography h3 {
  @apply text-3xl;
}

.wp-block-media-text {
  @apply flex flex-col md:flex-row gap-10 items-center;
}

.hh-content-blocks > * {
  @apply mx-auto;
}

.hh-content-blocks > :not(.alignwide) {
  @apply max-w-2xl;
}

.hh-content-blocks > .alignwide {
  @apply max-w-6xl;
}

.hh-content-blocks img {
  /* Noen ganger kan bilde ha blitt limt inn i wordpress fra ekstern kilde. Da
     får bildet en width og height som gjør at det blir squishesquosha utenfor
     aspect ratio. Når det skjer, vil vi heller skalere det ned til å passe inn
     i stedet for å vise det med feil ar
   */
  object-fit: contain;
}

.hh-body-typography a {
  @apply text-blue-700 underline;
}