@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.hh-body-typography a {
  @apply text-blue-700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }

  .hh-body-typography a {
    @apply text-blue-400;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.hh-typography h1, .hh-typography h2, .hh-typography h3, .hh-typography h4 {
  @apply font-bold font-serif;
}

.hh-typography h2, .hh-typography h3, .hh-typography h4, .hh-typography p, .hh-typography figure {
  @apply mt-8;
}

.hh-typography figcaption {
  @apply text-gray-500 italic;
}

.hh-typography h1 {
  @apply text-5xl;
}

.hh-typography h2 {
  @apply text-4xl;
}

.hh-typography h3 {
  @apply text-3xl;
}

.hh-body-typography blockquote {
  @apply border-l-2 border-gray-600 border-solid pl-4 text-gray-600;
}

.hh-body-typography ul, .hh-body-typography ol {
  @apply mt-8 pl-12;
}

.hh-body-typography ul ul, .hh-body-typography ol ol, .hh-body-typography ul ol, .hh-body-typography ol ul {
  @apply mt-0;
}

.hh-body-typography ul {
  @apply list-disc;
}

.hh-body-typography ol {
  @apply list-decimal;
}

.hh-body-typography ol ol {
  list-style-type: lower-alpha;
}

.hh-body-typography ol ol ol {
  list-style-type: lower-roman;
}

.wp-block-media-text {
  @apply md:grid grid-cols-2 gap-10 items-center;
}

.wp-block-image.size-medium {
  @apply max-w-wp-medium;
}

.wp-block-image.aligncenter {
  @apply mx-auto;
}

.wp-block-table table {
  @apply border-collapse border-none;
}

.wp-block-table table, .wp-block-table td, .wp-block-table th {
  @apply border-solid border-2 border-gray-500; 
}

.hh-content-blocks > * {
  @apply mx-auto;
}

.hh-content-blocks > :not(.alignwide) {
  @apply max-w-2xl;
}

.hh-content-blocks > .alignwide {
  @apply max-w-6xl;
}

.hh-content-blocks img {
  /* Noen ganger kan bilde ha blitt limt inn i wordpress fra ekstern kilde. Da
     får bildet en width og height som gjør at det blir squishesquosha utenfor
     aspect ratio. Når det skjer, vil vi heller skalere det ned til å passe inn
     i stedet for å vise det med feil ar
   */
  object-fit: contain;
}

.hh-body-typography a {
  @apply underline;
}